body{
margin:0;
font-family:Arial;
background:#f2f2f2;
color:#111;
}

.app{
max-width:800px;
margin:auto;
padding:20px;
}

h1{
text-align:center;
}

#quiz-box{
background:#fff;
padding:20px;
border-radius:10px;
}

.answer{
display:block;
padding:10px;
margin:8px 0;
background:#eaeaea;
cursor:pointer;
border-radius:5px;
}

.answer:hover{background:#ddd;}

.correct{background:green !important;color:#fff;}
.wrong{background:red !important;color:#fff;}

#stats{
display:flex;
justify-content:space-between;
margin-bottom:10px;
}

#result{
text-align:center;
font-size:22px;
font-weight:bold;
margin-top:20px;
}

button{
width:100%;
padding:10px;
margin-top:15px;
}